/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

section {
    display: flex;
    justify-content: center;   
    padding: 15px;

    h2 {
        margin-bottom: 0;
        color: #C70160;
    }
}

.hasError {
    margin: 3px 0;
    color:#f46a6a;;
    font-size: 10px;
    position: absolute;
    top: 45px;
}